Flask==1.0
Flask-Login==0.4.0
Flask-Session==0.3.1
Flask_SocketIO
itsdangerous==0.24
Jinja2>=2.10.1
MarkupSafe==0.23
python-engineio
python-socketio
six==1.9.0
Werkzeug==0.15.3
smbus2==0.2.3
Pillow==9.3.0
ST7735==0.0.1
Adafruit-GPIO==1.0.3
RPi.GPIO==0.6.5
netifaces==0.10.9
